name: Automação EAD

on:
  schedule:
    - cron: "*/5 * * * *"  # Executa a cada 5 minutos

jobs:
  executar-script:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Executar script
        env:
          EAD_API_KEY: ${{ secrets.EAD_API_KEY }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
          GOOGLE_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CREDENTIALS_JSON }}
        run: python script.py

